@import "../../Variables";

.Results .card {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 40px;
  border-radius: 5px;
  background: rgba($card-color, 0.6);
}

.Results h1 {
  margin-bottom: 40px;
  color: white;
}

.Results h2 {
  color: white;
}

.Results button {
  padding: 10px;
  margin-bottom: 20px;
  width: 80%;
}

@media (max-width: 576px) {
  .Results .card {
    width: 100vw;
    height: 100vh;
    background: rgba($card-color, 0.4);
    border-radius: 0;
  }

  .Results button {
    width: 90%;
  }
}
